
$breakpoints: (
  sm: 640,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
) !default;
$sizes: map-keys($breakpoints);
@function getBp($bp) {
  @return map-get($breakpoints, $bp);
}
@mixin from($bp) {
  @if map-has-key($breakpoints, $bp) {
    @if $bp==s {
      @content;
    } @else {
      @media screen and (min-width: map_get($breakpoints, $bp)) {
        @content;
      }
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin to($to) {
  @if $to==s {
    @content;
  } @else {
    @media screen and (max-width: getBp($to) - 1px) {
      @content;
    }
  }
}
@mixin fromTo($from, $to) {
  @if getBp($to) >getBp($from) {
    @media screen and (getBp($from) <= width <= (getBp($to) - 1px)) {
      @content;
    }
  } @else {
    @error "El segundo argumento del mixin fromTo debe ser mayor que el primero";
  }
}