.mx-auto{
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
}
.crossCenter{
  display: flex;
  align-items: center;
}
.gridCenter{
  display: grid;
  place-items: center;
}
.trs{
  transition: all .3s ease-in-out;
}
.l-section {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top : calc(var(--vertical-block-space) * 1.7);
  &.unfilled{
    padding-top: 0;
  }
  @include from(md){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.section-card{
  border: 2px solid var(--box-border);
  background: var(--main-dark);
  padding: 1rem;
  padding-top: 2rem;
  @include from(md){
    padding: 2rem 2.5rem;
  }
}
.section-wraper{
 display: flex;
 flex-direction: column;
 grid-row-gap: 6rem;
 margin-top: 6rem;
}
.main-full{
  height: 100%;
}