$l-unit: 0.5rem;
$base-gap:$l-unit * 4 !default;
$base-padding: 0.25rem;
$base-margin: 0.25rem;
$base-bdr: 0.7rem;
$grid-container: dgrid !default;
$max-width: #{rem(1536px)}!default;
$max-grid-columns: 5 !default;
:root{
  --max-width: #{rem(1536px)};
  --header-height: 4rem;
  --vertical-block-space:var(--header-height);
  --ease-evmos: cubic-bezier(0.42,0,0.33,1);
  --gap: 1rem;
  --base-bdr: 0.7rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000
}