@use "../../../styles/layout/breakpoints.scss" as bp;

@mixin naVariation{
  position: absolute;
  overflow: auto;
  width: 400px;
  max-width: 400px;
  right: -400px;
  top: 0;
  background-color: rgba(18, 18, 18,.8);
  height: 100vh;
  display: grid;
  place-items: center;
  transition: right 0.25s;
  .link{
    font-size: var(--text-xl);
    transition: all .3s ease-in-out;
    &:hover{
      margin-right: 1rem;
      background-color: initial;
    }
  }
  &.open{ 
    right: 0;
  }
}
.header{
  background: transparent;
  height: var(--header-height);
  display: grid;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: var(--z-fixed);
  &.top{
    background-color: rgba(18, 18, 18,.3);
    backdrop-filter: blur(18px);
    border-bottom: 1px solid rgba(159, 5, 254,.3);
  }
}
.navbar {
  justify-content: space-between;
  width: 100%; 
}
.logo{
  padding: 0.25rem;
  padding-top: 0.5rem;
  border-radius: 0.25rem;
  transition: .5s background-color var(--ease-evmos);
}

.hamburger{
  height: 2.4rem;
  width: 2.4rem;
  background: var(--purple);
  border-radius: calc(var(--base-bdr) / 2);
}
.btn{
  transition: .5s transform var(--ease-evmos);
  transform: translateX(-1rem);
  right: 1rem;
  z-index: -1;
  cursor: pointer;
}
.nav{
  position: relative;
  .link{
    position: relative;
    padding: 0.625rem;
    cursor: pointer;
   
  }
}
.links{
  display: flex;
  align-items: center;
}
.resume{
  background: var(--purple);
  border-radius: calc(var(--base-bdr) / 2);
  padding: .5rem;
  font-weight: 500;
  z-index: 1;
}
.scrl{
  .logo{
  
    background: var(--purple);
  }
  .nav{
    @include naVariation()
  }
  .links{
    flex-direction: column;
  }
  .btn{
    z-index: 1;
    transform: translateX(-6.5rem);
    transition: .5s transform var(--ease-evmos);
  }
}
@include bp.to(lg){
  .header{
    &.top{
      .nav{
        @include naVariation();
      }
    }
    .links{
      flex-direction: column;
    }
    .btn{
      transform: translateX(-6rem);
    }
    .scrl{
      .btn{
        transform: translateX(-6rem);
      }
    }
  }
}