@use "../../../styles/layout/breakpoints.scss" as bp;
.wraper {
  // align-items: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // justify-content: center;
  gap: 1rem;
  overflow: hidden;
}
.text {
  position: relative;
  display: grid;
  gap: 1rem;
}
.img {
  img {
    border-radius: var(--brd);
    height: 27rem;
  }
}
.avatar {
  display: grid;
  place-items: center;
  padding: 0.5rem 0;
}
@include bp.to(md) {
  .avatar {
    grid-row-end: 3;
  }
}
