:root{
  --turquoise:#61AFEF;
  --gold: #E6C07B;
  --red: #E06C75;
  // --purple: #C678DD;
  --blue-500: #146ef5;
  --orange: #ff6b00;
  --pink: #ed52cb;
  --yellow: #ffae13;
  --red: #ee1d36;
  --main-light: white;
  --light-grey: #d8d8d8;
  --grey-300: #ababab;
  --grey-400: #898989;
  --grey-600: #5a5a5a;
  --grey-800: #222222;
  --grey-900: #171717;
  
  --dark-grey: #121212;
  --darker-grey: #070707;
  --box-border: #373737;

  
  --main-dark:var(--darker-grey);
  // --box-background: #282C34;
  --box-background: var(--grey-900);
  --cream: #F8EDFF;
  --cream-transparent: rgba(248, 237, 255,0);
  --purple: #9f05fe;
  --purple-transparent: rgba(159,5,254,0);
  --c-text: var(--cream);
  --bg-body:var(--darker-grey);
}

.txt-grey {
  color: var(--light-grey);
}
.txt-grey400 {
  color: var(--grey-400);
}