:root{
  --font-header: "DPSDbeyond", sans-serif;
  --font-body: "Work-Sans", sans-serif;

  --text-xs:#{rem(13px)};
  --text-sm:#{rem(15px)};
  --text-base: #{rem(16px)};
  --text-big: #{rem(19px)};
  --text-lg: #{rem(24px)};
  --text-xl: #{rem(28px)};
  --text-2xl: #{rem(30px)};
  --text-3xl: #{rem(33px)};
  --heading-line-height : 1.15;
  --body-line-height    : 1.2;

  @include from(lg){
    --text-xs:#{rem(14px)};
    --text-sm:#{rem(16px)};
    --text-base: #{rem(18px)};
    --text-big: #{rem(24px)};
    --text-lg: #{rem(29px)};
    --text-xl: #{rem(32px)};
    --text-2xl: #{rem(35px)};
    --text-3xl: #{rem(38px)};
  }

  --text-h4: var(--text-lg);
  --text-h3: var(--text-xl);
  --text-h2: var(--text-2xl);
  --text-h1: var(--text-3xl);
  
}

@mixin body-font {
  font-family : var(--font-body);
  font-weight : 300;
  line-height : var(--body-line-height);
}

@mixin biggester {
  @include body-font;
  font-size : var(--text-xl);
}
@mixin bigger {
  @include body-font;
  font-size : var(--text-lg);
}

@mixin big {
  @include body-font;
  font-size : var(--text-big);
}

@mixin normal {
  @include body-font;
  font-size : var(--text-base);
}

@mixin small {
  @include body-font;
  font-size : var(--text-sm);
}

@mixin smaller {
  @include body-font;
  font-size : var(--text-xs);
}
.fn-biggester {
  @include biggester
}
.fn-bigger {
  @include bigger
}

.fn-big {
  @include big
}

.fn-normal {
  @include normal
}

.fn-small {
  @include small
}

.fn-smaller {
  @include smaller
}
.fn-h{
  font-weight: 600;
}