.card {
  display: grid;
  gap: 1.5rem;
  position: relative;
  &:hover {
    .textAction {
      opacity: 0.6;
    }
    .image {
      transform: scale(1.05);
    }
  }
}
.linkImage {
  height: 13rem;
  position: relative;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.textAction {
  position: absolute;
  top: -3px;
  right: 0;
  font-size: var(--font-size-smaller);
  padding: 0 0.5rem;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.info {
  display: grid;
  gap: 1rem;
}
.topTitle {
  display: grid;
  gap: 0.5rem;
  p {
    font-size: var(--font-size-small);
    opacity: 0.6;
  }
}
.title {
  font-size: var(--font-size-big);
  font-variation-settings: "wght" 500;
}
.description {
  font-size: var(--font-size-small);
}
.techList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: var(--font-size-smaller);
}
