.title {
  font-size: var(--font-size-h3);
}
.subtitle {
  // position: absolute;
  // top: 10px;
  // left: 0;
  margin-bottom: 2rem;
  .title {
    text-transform: uppercase;
    // transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    font-size: var(--font-size-h4);
    // background: var(--c-gray);
    padding: 0.5rem;
    border-radius: 0.25rem;
    position: relative;
    padding-left: 50px;
    &::before {
      content: "";
      position: absolute;
      width: 45px;
      height: 1px;
      left: 0;
      bottom: 50%;
      background: var(--c-bgWhite);
      transform: translateY(50%);
    }
  }
}
