*,
*::before,
*::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
a, button {
  cursor: revert;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
p a {
  display: inline;
}
button {
  font-family: inherit;
  display: block;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
}
ol, ul, menu {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
svg {
  // width: 100%;
  // display: block;
  fill: currentColor;
}
::placeholder {
  color: unset;
}
/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
   :where([hidden]) {
    display: none;
}
/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}